[submodule "machtiani-commit-file-retrieval"]
	path = machtiani-commit-file-retrieval
	url = https://github.com/tursomari/machtiani-commit-file-retrieval
[submodule "git-server"]
	path = git-server
	url = https://github.com/tursomari/git-server
