[submodule "machtiani-commit-file-retrieval"]
	path = machtiani-commit-file-retrieval
	url = https://github.com/turboSource-marialis/machtiani-commit-file-retrieval
[submodule "aicommit"]
	path = aicommit
	url = https://github.com/coder/aicommit
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/TurboSource-Marialis/api-gateway
[submodule "machtiani-releases"]
	path = machtiani-releases
	url = https://github.com/TurboSource-Marialis/machtiani-releases
[submodule "end-to-end-tests/data/git-projects/SWE-agent"]
	path = end-to-end-tests/data/git-projects/SWE-agent
	url = https://github.com/TurboSource-Marialis/SWE-agent
